.container {
    margin: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .custom-table tbody tr:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s;
  }

  .mensaje{
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .circulacion{
    padding: 4px;
    width: fit-content;
    align-content: center;
    justify-content: center;
    border: 1px solid #000;
    
    font-size: large;
    font-weight: bold;
  }
  
  .notFound {
    display: none;
  }

  .circula {
    color: green;
  }

  .no-circula {
    color: red;
  }